/* jumbptronに背景を設定 */
.bg-img{ 
  background:url(/img/bg.jpg)
  center no-repeat;
  background-size: cover;
}

/* 画像の切り替え */
.goback{
  width: 50px;
  height: 50px;
  background: url(/img/arrow_left.svg) center no-repeat;
}

.goback:hover{
  cursor: pointer;
  opacity: .3;
}

.goforward{
  width: 50px;
  height: 50px;
  background: url(/img/arrow_right.svg) center no-repeat;
}

 .goforward:hover{
  cursor: pointer;
  opacity: .3;
}

#startex{
  display: none;
}