/* jumbptronに背景を設定 */
.bg-img{ 
  background:url(https://github.com/amber-0/sk-/blob/main/img/bg.jpg?raw=true)
  center no-repeat;
  background-size: cover;
}

/* 画像の切り替え */
.goback{
  width: 50px;
  height: 50px;
  background: url(https://raw.githubusercontent.com/amber-0/sk-/377f0651cdf6ea719a3e01572039c64d3cb507e2/img/arrow_left.svg) center no-repeat;
}

.goback:hover{
  cursor: pointer;
  opacity: .3;
}

.goforward{
  width: 50px;
  height: 50px;
  background: url(https://raw.githubusercontent.com/amber-0/sk-/377f0651cdf6ea719a3e01572039c64d3cb507e2/img/arrow_right.svg) center no-repeat;
}

 .goforward:hover{
  cursor: pointer;
  opacity: .3;
}

#startex{
  display: none;
}
